.admin {
    min-height: 80vh;
    padding: 4%;
    color: var(--night-blue);
}
.admin .identity {
    width: 50%;
    margin-bottom: 25px;
    padding: 2%;
    background-color: var(--white);
    border-radius: 5px;
}
.admin span {
    display: block;
    margin-top: 5px;
    color: var(--soft-night-blue);
}
.admin .users {
    padding: 2%;
    background-color: var(--white);
    border-radius: 5px;
}
.admin .users-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.admin .search-bar {
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    padding: 2px 1%;
    border: 1px solid  var(--night-blue);
    border-radius: 5px;
}
.admin .search-bar input {
    display: block;
    width: 90%;
    height: 38px;
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
}
.admin .users-head button {
    display: block;
    height: 40px;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
}
.admin .users-list {
    min-height: 280px;
}
.admin .users-list .user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.admin .users-list .user-row:nth-child(even) {background: rgba(214, 214, 214, 0.192);}
/* .admin .users-list .user-row:nth-child(odd) {background: #FFF} */
.admin .users-list .user-row:hover {
    background: rgba(214, 214, 214, 0.192);
    cursor: pointer;
}
.admin .user-row .s1 {
    display: flex;
    align-items: center;
}
.admin .user-row .abr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: rgb(245, 99, 99);
    border-radius: 50%;
    color: var(--white);
    font-weight: bold;
}
.admin .user-row h3 {
    font-weight: 500;
}
.admin .update-user {
    width: 40vw;
    margin-top: 20px;
}
.admin .update-user h2 {
    margin-bottom: 20px;
}
.admin .update-user span {
    margin-top: 10px;
    font-size: 1.3em;
    color: var(--night-blue);
}
.admin .update-user .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.admin .update-user button {
    padding: 2%;
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}